*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

header{
	display: flex;
	background-color:#392F7B;
	padding-top: 20px;
	justify-content: space-between;
	margin-left:30px;
	margin-right: 30px;
}

h1{
	color: #F2C94C;
}

nav{
	width:20%;
}

ul{
	list-style: none;
	display:flex;
	justify-content: space-between;
}
a{
	text-decoration: none;
}

/*Sections start*/

#myInformation{
	display: flex;
	margin-top: 50px;
	flex-direction: column;
	align-items: center;
	gap:50px;
}
/*About Section*/
#about{
	display: flex;
	width:70%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap:15px;
}

/*Projects section*/


#projects{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:15px;
#projectList{
	display: flex;
}
}
img{
	width:500px;
	height:400px;

}


/*Project Cards*/

.project{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap:15px;
}

.projectDescription{
	width: 70%;
}


/*Contact Section*/

#contact{
	display: flex;
	width: 70%;
	flex-direction: column;
	align-items: flex-start;
}
form{
	display: flex;
	flex-direction: column;
	gap:10px;
}

.formFields{
	display: flex;
	justify-content: center;
	gap:5px;
	align-items: center;
}